colors:
  # Default colors
  primary:
    background: '{{ background | hex }}'
    foreground: '{{ foreground | hex }}'

    # (Optional) Bright and Dim foreground colors
    #
    # The dimmed foreground color is calculated automatically if it is not present.
    # If the bright foreground color is not set, or `draw_bold_text_with_bright_colors`
    # is `false`, the normal foreground color will be used.
    #
    # dim_foreground: '{{ '#9a9a9a' | hex }}'
    # bright_foreground: '{{ '#ffffff' | hex }}'

  # Colors the cursor will use if `custom_cursor_colors` is true
  cursor:
    text: '{{ colors[0] | hex }}'
    cursor: '{{ cursor | hex }}'

  # Normal colors
  normal:
    black:   '{{ colors[0] | hex }}'
    red:     '{{ colors[1] | hex }}'
    green:   '{{ colors[2] | hex }}'
    yellow:  '{{ colors[3] | hex }}'
    blue:    '{{ colors[4] | hex }}'
    magenta: '{{ colors[5] | hex }}'
    cyan:    '{{ colors[6] | hex }}'
    white:   '{{ colors[7] | hex }}'

  # Bright colors
  bright:
    black:   '{{ colors[8] | hex }}'
    red:     '{{ colors[9] | hex }}'
    green:   '{{ colors[10] | hex }}'
    yellow:  '{{ colors[11] | hex }}'
    blue:    '{{ colors[12] | hex }}'
    magenta: '{{ colors[13] | hex }}'
    cyan:    '{{ colors[14] | hex }}'
    white:   '{{ colors[15] | hex }}'

  # Dim colors (Optional)
  #dim:
  #  black:   '{{ colors[0] | hex }}'
  #  red:     '{{ colors[1] | hex }}'
  #  green:   '{{ colors[2] | hex }}'
  #  yellow:  '{{ colors[3] | hex }}'
  #  blue:    '{{ colors[4] | hex }}'
  #  magenta: '{{ colors[5] | hex }}'
  #  cyan:    '{{ colors[6] | hex }}'
  #  white:   '{{ colors[7] | hex }}'

background_opacity: {{ alpha / 100 }}