*foreground:        {{ foreground }}
*background:        {{ background }}
*cursorColor:       {{ cursor }}
*.foreground:       {{ foreground }}
*.background:       {{ background }}
*.cursorColor:      {{ cursor }}
emacs*foreground:   {{ foreground }}
URxvt*foreground:   {{ foreground }}
XTerm*foreground:   {{ foreground }}
UXTerm*foreground:  {{ foreground }}
emacs*background:   {{ background }}
URxvt*background:   [{{ alpha }}]{{ background }}
XTerm*background:   {{ background }}
UXTerm*background:  {{ background }}
URxvt*cursorColor:  {{ cursor }}
XTerm*cursorColor:  {{ cursor }}
UXTerm*cursorColor: {{ cursor }}
URxvt*borderColor:  [{{ alpha }}]{{ background }}

! Colors 0-15.
*.color0:  {{ colors[0] }}
*color0:   {{ colors[0] }}
*.color1:  {{ colors[1] }}
*color1:   {{ colors[1] }}
*.color2:  {{ colors[2] }}
*color2:   {{ colors[2] }}
*.color3:  {{ colors[3] }}
*color3:   {{ colors[3] }}
*.color4:  {{ colors[4] }}
*color4:   {{ colors[4] }}
*.color5:  {{ colors[5] }}
*color5:   {{ colors[5] }}
*.color6:  {{ colors[6] }}
*color6:   {{ colors[6] }}
*.color7:  {{ colors[7] }}
*color7:   {{ colors[7] }}
*.color8:  {{ colors[8] }}
*color8:   {{ colors[8] }}
*.color9:  {{ colors[9] }}
*color9:   {{ colors[9] }}
*.color10: {{ colors[10] }}
*color10:  {{ colors[10] }}
*.color11: {{ colors[11] }}
*color11:  {{ colors[11] }}
*.color12: {{ colors[12] }}
*color12:  {{ colors[12] }}
*.color13: {{ colors[13] }}
*color13:  {{ colors[13] }}
*.color14: {{ colors[14] }}
*color14:  {{ colors[14] }}
*.color15: {{ colors[15] }}
*color15:  {{ colors[15] }}

! Black color that will not be affected by bold highlighting.
*.color66: {{ colors[0] }}
*color66:  {{ colors[0] }}

! Xclock colors.
XClock*foreground:  {{ foreground }}
XClock*background:  {{ background }}
XClock*majorColor:  rgba:{{ colors[15] | xrgba }}
XClock*minorColor:  rgba:{{ colors[15] | xrgba }}
XClock*hourColor:   rgba:{{ colors[15] | xrgba }}
XClock*minuteColor: rgba:{{ colors[15] | xrgba }}
XClock*secondColor: rgba:{{ colors[15] | xrgba }}

! Set depth to make transparency work.
URxvt*depth: 32